.cache
.dotnet
.gnupg
.ssh
.terraform.d
.vscode-server
.bashrc
.profile
.sudo
.sudo_as_admin_successful
.wget-hsts
.bash_history
.vim.info
.config
.bash_logout
.terraform/providers
*.tfstate
*.tfstate.backup
*.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl
_diag
bin
.ssh
.lesshst
externals
.viminfo
.credentials
.credentials_rsaparams
.gitconfig
.actions-runner
.env
.path
*.local
.runner
.path
actions-runner-linux-x64-2.323.0.tar.gz
*.template
.run.sh
.service
*.sh
.viminfo